:root {
  --bg-color: #95ADBE;
  --block-bg-color: #f0ece9;
  --block-text-color: #272426;

  --block-shadow-color: rgba(119, 124, 148, 0.5);

  --url-text-color: #316f92;
  --url-text-color--hover: #686581;

  --btn-bg-color: #316f92;
  --btn-bg-color--hover: #686581;
  --btn-text-color: #ffffff;
  --btn-text-color-hover: #ffffff;

  --bg-image: url("/static/background/soft-sky.png");
  --bg-text: #1f181d;
  --bg-gradient: linear-gradient(180deg, #61afce, #a18b95);
  --bg-gradient-opacity: 0.4;

  --tab-nav-bg-color: var(--block-bg-color);
  --tab-nav-bg-color--hover: rgba(240, 236, 233, 0.6);
  --tab-nav-url-color: #316f92;
  --tab-nav-url-color--hover: #686581;

  --tag-bg-color: #1f181d;
  --tag-text-color: #f0ece9;

  --emoji-string: "🌧️💙✨";

  --color-accent: #bbbbbb;
  --color-accent--hover: #888888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000E1F;
    --block-bg-color: #050408;
    --block-text-color: #f0f5f5;
  
    --block-shadow-color: rgba(49, 117, 134, 0.5);
  
    --url-text-color: #63c0eb;
    --url-text-color--hover: #d86778;
  
    --btn-bg-color: #1e455c;
    --btn-bg-color--hover: #42262f;
    --btn-text-color: #ffffff;
    --btn-text-color--hover: #ffffff;
  
    --bg-image: url("/static/background/dark-sky.png");
    --bg-text: #ecf1f3;
    --bg-gradient: linear-gradient(180deg, #202029, #311627);
    --bg-gradient-opacity: 0.6;
  
    --tab-nav-bg-color: var(--block-bg-color);
    --tab-nav-bg-color--hover: rgba(36, 47, 56, 0.6);
    --tab-nav-url-color: #63c0eb;
    --tab-nav-url-color--hover: #d86778;

    --tag-bg-color: #42262f;
    --tag-text-color: #e6e9ee;

    --emoji-string: "🌀🌙🫐";

    --color-accent: #3a3d41;
    --color-accent--hover: #575e61;
  }
}

.emoji-string::after {
  content: var(--emoji-string);
  inset: 0;
  text-align: right;
}