<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ title }} | Fulmine</title>
    <link href="/css/fulgurite/fulgurite.min.css" rel="stylesheet" type="text/css" media="all">

    <style>
      @media(min-width: 600px) {
        .container {
          max-width: 64rem;
        }
      }
    </style>

    <link id="theme" href="/css/themes/default.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div class="container">
      <header>
          <div class="tag flex flex-row"><h1 class="text-large flex">Fulmine</h1><span class="text-large flex-fill text-right flex flex-col emoji-string"></span></div>
        <div class="block shadow">
          <nav class="text-center flex-row justify-center gap-05">
            <a href="/" class="btn">Home</a>
            <a href="/about" class="btn">About</a>
            <a href="/posts" class="btn">Posts</a>
          </nav>
        </div>
      </header>
      <div>
        <main class="block shadow">
          {{ content | safe }}
        </main>
      </div>
      <footer class="tag text-center">
        {% if footer %}
          {{ footer }}
        {% else %}
          Here be dragons.
        {% endif %}
      </footer>
    </div>
  </body>
  <script>
    const themeEl = document.getElementById("theme")
    const currentTheme = localStorage.getItem("fulmn-theme") ?? "default"
    themeEl.href = `/css/themes/${currentTheme}.css`
  </script>
</html>